# Ignore specific directories and their contents
**/_unsloth_sentencepiece_temp/
**/.ipynb_checkpoints/
**/data/
**/Meta-Llama-3-1-8b_refined_i2b2_pydantic/
**/unsloth_compiled_cache/
**/json2brat

# Ignore specific files
medication_extraction/output.csv